@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  --background-color: #f4f1e9;
  --color: #000000;
  --color-1: #1E1E1E;
  --accent: #FAA500;
}

@font-face {
  font-family: 'Pink Sunset';
  src: url('/fonts/PinkSunset-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Figtree", sans-serif !important;
}

body {
  color: var(--color);
  background: var(--background-color)
}

@layer utilities {
}

.main-hero {
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 63vh;
}

.custom-font {
  font-family: 'Pink Sunset', sans-serif !important;
    width: 570px;
    text-align: center;
    font-family: Pink Sunset;
    font-size: 72px;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

.custom-heading {
  font-family: 'Pink Sunset', sans-serif !important;
font-size: 32px;
font-weight: 400;
line-height: 38.4px;
letter-spacing: -0.02em;
text-align: center;
}

.hello {
  display: flex;
  font-family: "Figtree", sans-serif !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}


.main-back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  background-image: url('/assets/train-bg.svg');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  background-position: center;
  gap: 7rem;
}

.custom-card-title {
font-family: "Pink Sunset", sans-serif !important;
font-size: 32px;
font-weight: 400;
line-height: 38.4px;
letter-spacing: -0.02em;
text-align: left;
position: absolute;
top: 1.2rem;
}

.question-title {
font-family: 'Figtree', sans-serif !important;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.custom-border {
  border-bottom: 1px solid #00000014;
}

.custom-set {
  font-family: "Pink Sunset", sans-serif !important;
font-size: 72px;
font-weight: 400;
line-height: 79.2px;
letter-spacing: -0.02em;
text-align: left;

}


.custom-des {
  font-family: 'Figtree', sans-serif !important;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
margin-top: 0.5rem;
margin-bottom: 2rem;
}

.custom-course {
  font-family: "Pink Sunset", sans-serif !important;
font-size: 72px;
font-weight: 400;
line-height: 79.2px;
letter-spacing: -0.02em;
text-align: center;

}

.course-card-title {
  font-family: "Pink Sunset", sans-serif !important;
font-size: 43.2px;
font-weight: 400;
line-height: 47.52px;
letter-spacing: -0.02em;
text-align: center;
margin-top: 0.5rem;
}

.course-card-des {
  font-family: 'Figtree', sans-serif !important;
font-size: 18px;
font-weight: 700;
line-height: 27px;
text-align: center;

}

.footer-des {
  font-family: 'Figtree', sans-serif !important;

font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
